
.data-display {
    padding: 30px; /* Aumentar o preenchimento */
    max-width: 1000px; /* Aumentar a largura máxima */
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif; /* Alterar a fonte */
    position:fixed;
    bottom: 300px; 
    right: 40%;
    width: 100%;
    left: 25%;
}

.data-display h1 {
    text-align: center;
    color: #333;
    font-size: 36px; /* Aumentar o tamanho do título */
}

.data-display  button {
    width: 50%;
    height: 45px;
    background: #0056b3; /* Cor de fundo azul */
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white; /* Texto branco no botão */
    font-weight: 700;
    transition: background-color 0.4s ease;
   
  }

  .data-display button:hover{
    background:  #ec8938;
  }
  

.data-list {
    list-style: none;
    padding: 0;
}

.data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.data-item:hover {
    background-color: #f1f1f1;
}

.data-info {
    flex-grow: 1;
}

.action-icons {
    display: flex;
    gap: 10px;
}

.icon {
    cursor: pointer;
    font-size: 20px;
    color: #007BFF;
}

.icon:hover {
    color: #0056b3;
}

.loading, .error {
    text-align: center;
    font-size: 18px;
    color: #555;
}
