.home-container {
    text-align: center;
    padding: 50px; /* Aumentar o preenchimento */
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Cor de fundo */
}

.card-container {
    display: flex;
    justify-content: center; /* Alinha os cards no início */
    flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha */
    margin-top: 30px; /* Aumentar a margem superior */
}

.card {
    background: #0056b3; /* Cor de fundo azul */
    color: white; /* Texto branco */
    border-radius: 10px;
    padding: 30px; /* Aumentar o preenchimento interno dos cards */
    text-decoration: none; /* Remove o sublinhado */
    width: calc(18% - 40px); /* Largura para 5 cards por linha, reduzida */
    height: 150px; /* Altura do card */
    transition: transform 0.3s; /* Animação de transformação */
    margin: 25px; /* Margem menor para acomodar 5 cards por linha */
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar os cards */ 
}

.card:hover {
    transform: scale(1.05); /* Efeito de aumento no hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais intensa no hover */
}

.card h2 {
    margin: 10px 0 0 0; /* Remove margem superior e adiciona um pequeno espaçamento acima */
    font-size: 18px; /* Tamanho da fonte */
}


/* Responsividade para telas médias */
@media (max-width: 1199px) and (min-width: 768px) {
    .card {
        width: calc(30% - 40px); /* 3 cards por linha */
        font-size: 10px;
    }
}

/* Responsividade para telas pequenas */
@media (max-width: 767px) {
    .card {
        width: calc(45% - 40px); /* 2 cards por linha */
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px); /* 1 card por linha */
    }
}

/* Ajuste adicional para a home-container em telas pequenas */
@media (max-width: 768px) {
    .home-container {
        margin-top: 50px;
        
    }
}
