.equipe-container {
    padding: 100px; /* Espaçamento geral */
    text-align: left; /* Alinha o texto à esquerda */
    margin-left: 30px;
    width: 100%; /* Faz a div ocupar toda a largura disponível */
    max-width: 600px; /* Define uma largura máxima, se desejado */
    left: 0; /* Remove qualquer margem que centralize a div */
    position: fixed;
    bottom: 25%;
}

.add-button {
    margin-top: 10px;
    margin-bottom: 20px; /* Espaço entre o botão e as labels */
    padding: 4px 10px; /* Tamanho do botão */
    font-size: 14px; /* Tamanho da fonte do botão */
    background-color: #677e6a31;
    border: 0.5px solid black;
    transition: background-color 0.4s ease;
}

.add-button:hover{
    background-color:  #48ee5e ;
}


.container-profs {
    display: flex;
    flex-direction: column; /* Coloca as labels uma abaixo da outra */
}

.professor-label {
    background-color: #007BFF; /* Fundo azul */
    color: white; /* Cor do texto */
    padding: 15px; /* Aumenta o espaço interno */
    margin-bottom: 15px; /* Espaçamento entre as labels */
    border-radius: 5px; /* Bordas arredondadas */
    width: 150%; /* Faz com que as labels ocupem toda a largura disponível */
    height: 50%;
    font-size: 18px; /* Aumenta o tamanho da fonte */
    text-align: left; /* Garante que o texto dentro da label fique à esquerda */
    box-sizing: border-box; /* Inclui o padding e a borda na largura total */
    max-width: 600px; /* Define uma largura máxima, se desejado */
    transition: background-color 0.4s ease;
}

.professor-label:hover{
    background-color: #ec8938;
}

.container-profCard{
    background-color: #007BFF;
    padding: 200px 200px;
    position: fixed;
    bottom: 25%;
    margin-right: 500px;
    border-radius: 20px;
}

.logo-equipe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.logo-equipe .login-icon {
    font-size: 250px; /* Define um tamanho maior para o ícone */
    color: #070707;   /* Cor do ícone */
    width: 100%;      /* Certifique-se de que o ícone ocupe o máximo possível */
    height: auto;     /* Ajuste proporcional da altura */

}
