.container {
    width: 450px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    margin: 20px auto;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: #0A0A0A;
}

.container .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-field input {
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.8);
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #0A0A0A;
    padding: 10px 45px 10px 25px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-field input:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.input-field .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #0A0A0A;
}


.input-field select {
    width: 100%; /* Largura total do campo */
    height: 100%; /* Altura total do campo */
    background: rgba(240, 240, 240, 0.8); /* Cor de fundo igual ao input */
    outline: none; /* Remove a borda de foco padrão */
    border: 2px solid rgba(0, 0, 0, 0.2); /* Borda igual ao input */
    border-radius: 40px; /* Bordas arredondadas iguais ao input */
    font-size: 16px; /* Tamanho da fonte igual ao input */
    color: #0A0A0A; /* Cor do texto igual ao input */
    padding: 10px 45px 10px 25px; /* Padding igual ao input */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transições igual ao input */
    -webkit-appearance: none; /* Remove o estilo padrão do select no Safari */
    -moz-appearance: none; /* Remove o estilo padrão do select no Firefox */
    appearance: none; /* Remove o estilo padrão do select */
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"%3E%3Cpath d="M7 10l5 5 5-5H7z" fill="%230A0A0A"/%3E%3C/svg%3E'); /* Adiciona um ícone de seta para o select */
    background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
    background-position: right 20px center; /* Posiciona a seta à direita */
    background-size: 20px; /* Tamanho do ícone da seta */
}

/* Estilo para quando o select é hovered */
.input-field select:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Cor de fundo ao passar o mouse */
}


/* Corrigir inconsistência */
.cadastro-bnt {
    width: 100%;
    height: 45px;
    background: #0056b3;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
    transition: background-color 0.4s ease;
}

.cadastro-bnt:hover {
    background: #ec8938;
}

.add-materia-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #0056b3;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-top: 10px; /* Aumenta a distância vertical entre o campo de matéria e o botão */
}

.add-materia-button:hover {
    color: #003d80;
}


.container .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: 500;
}

.login-link p a:hover {
    text-decoration: underline;
    color: #0056b3;
}
